{% extends 'after_login/template.html' %}
{% block title %} Portofolio {% endblock %}

{% block content_title %} Market News {% endblock %}

<main>

{% block content %}
{% for topic in news %}

  <div class="card" style="width: 60rem;">
  <img src="{{ topic.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{topic.headline}}</h5>
    <p class="card-text">{{topic.summary}}</p>
    <a href="{{ topic.url }}" class="btn btn-primary">See full topic here!</a>
  </div>
</div>

{% endfor %}
{% endblock %}

</main>